html{
background-color: #393e46;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    
}
.child{
    display: flex; 
    height: 5rem;
    width: 5rem;
    font-size: 0.8rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black; 
    box-shadow: 1px 2px 2px #323232;
    border-radius: 5px;
    background-color: #f96d00;
    transition: transform 0.3s ease;
}

.child:hover{
    /* box-shadow: 16px 32px 32px #323232; */
    /* transform: translateY(-5px); */
    transform: scale(1.2);
    background-color: greenyellow;
}