.main{
    display: flex;
    flex-direction: row;
    gap: 0px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.combined{
    display:flex ;
    background-color: hsl(220deg 50% 45%);
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 5px solid #447ae6;
    border-radius:20px;
    padding: 20px 40px;
    filter: drop-shadow(
        1px 2px 4px hsl(220deg 60% 50%)
      );}

img{
    width: 50%;
}

body{
    background-color: #121212;
}

.time{
    color: aliceblue;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 1000;
}